.div {
  display: flex;
  flex-direction: column;
  background: burlywood;
  /* background-image: url('../public/images/profile.jpg'); */

  /* & .p {
    color: var(--color);
    font-weight: bold;
  } */
}
